{% extends "base.html" %}

{% block announce %}
{% if false %}
<div style="
  background-color: transparent; color: orange;
  border: 3px solid orange; border-radius: 9px;
  text-align: center;
"><p>
  On-going framework update... In the meantime,
  there will be some <strong>missing information</strong>!
</p></div>
{% endif %}
{% endblock %}

{% block extrahead %}
<script>
(function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="Lm5lAo2JMdFdARLOfDok8";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
</script>
{% endblock %}
