<MudPaper Elevation="0" Square="true" Style="background:#c9c9c9;padding:1rem 1.5rem;">
    <MudText Typo="Typo.h3" Align="@TitleSide">About me</MudText>
    <MudStack Row="true">
        <MudText Typo="Typo.inherit" Align="Align.Justify" Style="width:67vw;">
            I’ve always been a hands-on person, with an overarching pursuit for excellent delivery and proper feedback between my clients and colleagues. To achieve this, I have worked with several industries since 2007, to learn what led them further and what were their woes: from a food manufacture plant and their specific requirements; to a wind turbine construction site abroad and their multi-cultural, multi-asset team; to projecting electronic safety mechanisms and even preparing homeland security solutions to a wide range of customers; to maintaining and improving a management platform for said wind, solar, hydro and hybrid generators through a multitude of protocols, automations and custom client requests; and lately, to support the inner API ‟spine” for upcoming clients for a FinTech.
            <a href="https://www.linkedin.com/in/alexandermcalves/" target="_blank" style="vertical-align:top;">
                <MudIcon Icon="@Icons.Custom.Brands.LinkedIn"/>
            </a>
        </MudText>
        <MudSimpleTable Elevation="0" Dense="true" Hover="true" Style="width:33vw;background:transparent;">
            <tbody>
                <tr>
                    <td><MudText Typo="Typo.h6" Align="Align.End">
                        Name
                    </MudText></td>
                    <td><MudText Typo="Typo.body1">
                        Alexandre Alves
                    </MudText></td>
                </tr><tr>
                    <td><MudText Typo="Typo.h6" Align="Align.End">
                        Profession
                    </MudText></td>
                    <td><MudText Typo="Typo.body1">
                        Electrical Engineer
                    </MudText></td>
                </tr><tr>
                    <td><MudText Typo="Typo.h6" Align="Align.End">
                        Current location
                    </MudText></td>
                    <td><MudText Typo="Typo.body1">
                        Lisbon, Portugal
                    </MudText></td>
                </tr><tr>
                    <td><MudText Typo="Typo.h6" Align="Align.End">
                        Languages
                    </MudText></td>
                    <td>
                        <MudText Typo="Typo.body1">▪ Portuguese</MudText>
                        <MudText Typo="Typo.body2">Native</MudText>
                        <MudText Typo="Typo.body1">▪ English</MudText>
                        <MudText Typo="Typo.body2">Fluent</MudText>
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudStack>
</MudPaper>

@code {
    [Parameter]
    public Align TitleSide { get; set; }

    static LocalDate dob = new LocalDate(1989, 11, 16);
    static LocalDate currentDay = SystemClock.Instance.GetCurrentInstant().InUtc().LocalDateTime.Date;
    static Period age = Period.Between(dob, currentDay, PeriodUnits.Years);
}